<!DOCTYPE html>
<html>
<title>AngularIndex</title>
<script src="angular-1.8.2/angular.min.js"></script>


<body>
    <h1>AngularJs Directive</h1>

    <div ng-app="">
        <p><input type="text" ng-model="FirstName" placeholder="Enter Full Name"></p>
        <p><input type="text" ng-model="LastName" placeholder="Enter your LastName"></p>
        <h2>FullName: {{FirstName +" "+LastName}}</h2><br><br>


    
   
    
        

        <h2>Assignment</h2>
        <p>Items Needed :
        <input type="" ng-model="num1" ng-init="num1=0" />
        </p>
        
        <span ng-model="cost" ng-init="cost=2"></span> 
        
        <p>Total : {{ num1 * cost }}</p>
    </div>
   

</body>
</html>